
*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(216, 236, 244);
}

header {
    background-color: #176dad;
    height: 82px;
    width: 1290px;
}


.menu {
    display: flex;
    justify-content: space-around;
    width: 1100px; 
    align-items: center ;
    z-index: 3;
} 


.menu a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.menu a:hover {
 color: rgb(236, 185, 0);
 }

 #barras {
    display: none;
 }

.container {
    max-width: 1290px; 
    /* era só widht */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: auto;
    padding: 0vw; */
    /* margin: 0% auto 0% auto; */
    /* flex-direction: column , serve para colocar os itens abaixo do logo
    (a class = container estava em head e foi movido para div, e class = cabecalho foi
    removida da div) */
}

.logo {
    height: 120px;
    width: 200px;
    padding-top: 10px;
}

.loginIcon {
    height: 60px;
    width: 60px;
}

.imgbanner {
    background-image: url(../IMG/bannergodofwarfull.png);
    background-image: url(../img/bannersetupazulfull.png);
    background-image: url(../img/bannerclients1full.png);
    background-image: url(../img/bannergames1full.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 370px;;
    width: 1290px;
}

.container-grid {
    width: 1150px;
    margin: 0 auto;
}

.itens-banner {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.texto-banner {
    color: aliceblue;
    text-transform: uppercase;
    text-align: right;
    width: 40%;
    height: 80%;
    margin-left: 43%;
    font-family: "Roboto";
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    float: right; */

}



.rodape-banner {
    background-color: #176dad;
    width: 1290px;
    height: 40px;
}

.secao-sobre {
    background-image: url(../img/fundo-sobre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-sobre {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 223, 80);
    text-decoration: dotted;
}

.texto-sobre h2 {
    margin-bottom: 2rem;
}

.footer-container {
    color: white;
    width: 1290px;
    height: 200px;
    background-color: #176dad;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-footer {
   display: flex;
   height: 120px;
   width: 200px;
}

@media screen and (max-width:1205px) {
  .cabecalho {
      position: relative;
  }

  .menu {
      display: none;

      position: absolute;
      top: 80px;
      right: 0px;

      height: 400px;

      flex-direction: column;
      justify-content: space-around;
      background-color: #176dad;
      align-items: center;

  }

  .menu-ativo {
    display: flex;
    align-items: center;

  }

   #barras {
    display: inline-block;
    
   }

   .texto-banner h1 {
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    /* width: 40%;
    height: 80%;
    margin-left: 40%; */
    font-family: "Roboto";
    font-size: 20px;
    
   }

   .texto-banner h2 {
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    /* width: 40%;
    height: 80%;
    margin-left: 40%; */
    font-family: "Roboto";
    font-size: 20px;
    
   }

   .texto-banner h3 {
    color: rgb(236, 185, 0);
    text-transform: uppercase;
    text-align: center;
    /* width: 40%;
    height: 80%;
    margin-left: 40%; */
    font-family: "Roboto";
    font-size: 20px;
    margin: auto auto ;
    
   }  

   .cards-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
   }

   /* .itens-banner {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
   } */



}



@media screen and (max-width: 768px) {

    .cabecalho {
        position: relative;
    }
  
    .menu {
        display: none;
  
        position: absolute;
        top: 80px;
        right: 0px;
  
        height: 400px;
  
        flex-direction: column;
        justify-content: space-around;
        background-color: #176dad;
        align-items: center;
  
    }

    header {
        background-color:#1d80cc;
    }
    
    .logo {
        width: 200px;
    }

    .logo-footer {
        display: none;
    }


    .texto-banner h1 {
        color: aliceblue;
        text-transform: uppercase;
        text-align: center;
        /* width: 40%;
        height: 80%;
        margin-left: 40%; */
        font-family: "Roboto";
        font-size: 15px;
        
    }
    
       .texto-banner h2 {
        color: aliceblue;
        text-transform: uppercase;
        text-align: center;
        /* width: 40%;
        height: 80%;
        margin-left: 40%; */
        font-family: "Roboto";
        font-size: 15px;
        
    }
    
       .texto-banner h3 {
        color: rgb(236, 185, 0);
        text-transform: uppercase;
        text-align: center;
        /* width: 40%;
        height: 80%;
        margin-left: 40%; */
        font-family: "Roboto";
        font-size: 20px;
        margin: auto auto ;
        
    }  

    .cards-align {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
       }

}

@media screen and (max-width: 625px) {

    .cards-align {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
       }

}

@media screen and (max-width: 1720px) {

    .cards-align {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
       }

}

.sociais {
    width: 31%;
}

.sociais p {
    font-family: 'Titillium Web';    
}

.sociais form {
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.sociais input[type="email"]{
    height: 37px;
    width: 65%;  
    border-radius: 0px; 
    border-style: none; 
    text-indent: 5px;
}

.sociais input[type="email"]::placeholder {
    color: #B8B3B3;
    font-weight: bold;
}

.sociais button{
    width: 35%;
    color: white;
    background-color: rgb(208, 181, 26);
    border: none;
    font-family: 'Titillium Web';
    font-weight: 600;
}

.cards-align {
    display: flex;
    width: 70%;
    margin: 0 auto;
}

/* 
a:link, a:visited {
	text-decoration: none
	} */
/* a:hover {
	text-decoration: underline;
	color: rgb(234, 218, 0); */
	/* } */
/* a:active {
	text-decoration: none
	} */

    